/* Por defecto son block: div, p, h1-h6, section */
.banner-menu {
    display: block;
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 12px;
    text-align: center;
}

/* Por defecto son inline: span, a, strong, etc */
.etiqueta-especial {
    display: inline;
    background-color: #ff9800;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.75rem;
}

.btn-pedido {
    display: inline-block;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}


.menu-movil {
    display: none;
    background-color: rgb(76, 175, 80);
    padding: 10px;

}

.menu-movil.activo {
    display: block;